.stMarkdown, .stImage, .stHeader, .stButton {
    padding: 10px !important;
}
/* Additional styles for custom elements */
.centered-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.centered-buttons a {
    display: inline-block;
}
.centered-buttons img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.centered-text-with-bg {
    text-align: center;
    background-color: #ddebed;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0; /* Adjusted to only apply margin vertically */
}
.text-black {
    color: black !important;
}
.css-12oz5g7.egzxvld2 {
    padding-top: 0px;
}

.css-1v0mbdj.etr89bj1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    max-width: 40%;
}

.css-10trblm.e16nr0p30 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 19px;
} 

MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
